.course_card {
    background-color: black;
    border-radius: 15px;
    color: white;
    height: fit-content;

    text-decoration: none;
    max-width: 20em;
    margin: 1em;
}

.thumb {
    height: 50%;
    margin: 1em;

    overflow: hidden;
    border-radius: 15px;
}

.thumb_img {
    width: 100%;
    object-fit: contain;
    border-radius: 15px;
}

.card_info {
    margin: 1em;
    margin-bottom: 0;
}

.card_info > h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.card_info > p {
    margin-top: 0;
    margin-bottom: 0;
}

.diff_icon {
    width: 2em;
    height: auto;
    margin: 0.5em;
}

.thumb_overlay {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.plus {
    float: right;
    margin: 0.5em;

    width: 2em;
    height: auto;
}

@keyframes plus_hover {
    from {transform: rotate(0);}
    to {transform: rotate(-45deg);}
}

@keyframes plus_unhover {
    from {transform: rotate(-45deg);}
    to {transform: rotate(0);}
}

.course_card:hover .plus {
    animation: plus_hover 0.1s forwards ease-in-out;
}

.plus {
    animation: plus_unhover 0.1s ease-in-out;
}

@keyframes card_hover {
    from {
        transform: translate(0px);
        box-shadow: 0px 0px rgb(230 230 230);
    }
    to {
        transform: translate(15px, -15px);
        box-shadow: -15px 15px rgb(230 230 230);
    }
}

@keyframes card_unhover {
    to {
        transform: translate(0px);
        box-shadow: 0px 0px rgb(230 230 230);
    }
    from {
        transform: translate(15px, -15px);
        box-shadow: -15px 15px rgb(230 230 230);
    }
}

.course_card:hover {
    animation: card_hover 0.1s forwards ease-in-out;
}

.course_card {
    animation: card_unhover 0.1s ease-in-out;
}