.courses {
    margin: 1em;
    display: flex;
    justify-content: center;
}

.course_scroller_header {
    display: flex;
    align-items: center;
}

.search_link {
    color: black;
}

.line_fill {
    flex-grow: 1;
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px dashed black;
    margin: 1.5em 1em;
    padding: 0;
}