body {
    margin: 0;
}

@font-face {
    font-family: 'HelveticaNeueExtended';
    src: url('../assets/fonts/HelveticaNeueLTW1G-BlkEx.woff2') format('woff2'),
        url('../assets/fonts/HelveticaNeueLTW1G-BlkEx.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Light.ttf');
    font-style: normal;
    font-display: swap;
}

h1, h2, h3, h4 {
    font-family: 'HelveticaNeueExtended';
}

p {
    font-family: 'Poppins', Arial,sans-serif;
}
