body {
    margin: 0;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@font-face {
    font-family: 'HelveticaNeueExtended';
    src: url(..\assets\fonts\HelveticaNeueLTW1GBlkEx.otf);
}

h1, h2, h3, h4 {
    font-family: 'HelveticaNeueExtended';
}